langchain
streamlit
sentence-transformers
faiss-cpu
langchain-google-genai
chromadb
pytesseract
pillow
pymupdf
pdfplumber
python-dotenv
langchain-core
langchain-community
pypdf
pymupdf
langchain-groq
protobuf==3.20.3
chromadb
streamlit
torch
torchvision
langchain_openai
