langchain
streamlit
sentence-transformers
faiss-cpu
langchain-google-genai
chromadb
pytesseract
pillow
PyMuPDF
pdfplumber
python-dotenv
langchain-core
langchain-community
pypdf
pymupdf
langchain-groq

langchain_openai
